#agenda{
    .person{
        width: 220px;
    }
    #banner{
        background-color: $yellow-liv;
        padding: 1rem;
        #logo{
            width: 120px;
        }
        h1{
            font-weight: 800;
            color: #fff;
            font-size: 2rem;
            margin: 0;
        }

        .description{
            h2, h3, span{
                color: $red-liv;
            }
            h2, h3{
                font-weight: 800;
            }
            span{
                font-size: 1.6rem;
                font-weight: 100;
                font-style: italic;
            }
        }

        #aviso{
            background-color: $red-liv;
            color: #fff;
            border-radius: 20px;
            padding: 1.6rem;
            width: 52%;
            span{
                font-size: 1.1rem;
                font-weight: 100;
                font-style: italic;
                text-transform: uppercase;
                line-height: 1.2rem;
            }
            h2{
                margin: 0
            }
        }
    }
    #primeiro-dia{
        background-color: $red-liv;
    }
    #segundo-dia{
        background-color: #17a8b4;
    }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}