.bg-green-liv{
    background-color: #00baac;
    color: #fff;
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    opacity: 1;
    -webkit-transition: opacity 800ms ease-in;
       -moz-transition: opacity 800ms ease-in;
        -ms-transition: opacity 800ms ease-in;
         -o-transition: opacity 800ms ease-in;
            transition: opacity 800ms ease-in;
    .img-background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: auto;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    }
    .img-background-stand{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    }
    .video_stand{
        /*position: absolute;
        z-index: -1;
        left: 305px;*/
    }
    .videoin{
        transform: rotateZ(4deg);
    }
    .videoiv{
        transform: rotateZ(-3deg);
    }
    svg{
        width: 100%;
        height: auto;
        .polygon{
			fill: transparent;
			//stroke: black;
            stroke-width: 1;

            //background: linear-gradient(270deg,#bdbdbd,#fff 33.33%,#bdbdbd);
            //background-size: 400% 400%;
            -webkit-animation: AnimationName 3s ease infinite;
            animation: AnimationName 3s ease infinite;

            -webkit-transition: fill 100ms ease-in;
            -moz-transition: fill 100ms ease-in;
                -ms-transition: fill 100ms ease-in;
                -o-transition: fill 100ms ease-in;
                    transition: fill 100ms ease-in;
            &:hover{
                fill: rgba(255, 255, 255, 0.4);
                -webkit-filter: drop-shadow( 6px 0 2px hsla(0, 0%, 0%, 0.2));
                filter: drop-shadow( 6px 0 2px hsla(0, 0%, 0%, 0.2));
            }
		}
    }
    .video-controls{
        position: absolute;
        z-index: 10;
    }
    
    
    .btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        color: #000;
        .icon{
            width: 1.5rem;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    .container-video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        opacity: 0;
        -webkit-transition: opacity 3s ease-in;
        -moz-transition: opacity 3s ease-in;
            -ms-transition: opacity 3s ease-in;
            -o-transition: opacity 3s ease-in;
                transition: opacity 3s ease-in;
        .video{
            width: 600px;
            height: 220px;
            top: 210px;
        }
    }
    .container-video-show{
        opacity: 1;
    }
    .navgation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 20;
        .btn-home{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 15px;
        }
        .btn-back{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 15px;
            left: 15px;
        }
    }
    .navgation-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 20;
        .btn-back{
            background-color: $red-liv;
            color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            bottom: 10px !important;
            left: 10px !important;
            position: fixed;
            width: 120px;
            height: 40px;
            border-radius: 25px;
        }
    }
    .video{
        width: 100%;
        height: calc(100vh - 69px);
        iframe{
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

@-webkit-keyframes AnimationName {
    0%{fill: transparent}
    50%{fill: rgba(255, 255, 255, 0.6)}
    100%{fill: transparent}
}
@-moz-keyframes AnimationName {
    0%{fill: transparent}
    50%{fill: rgba(255, 255, 255, 0.6)}
    100%{fill: transparent}
}
@keyframes AnimationName { 
    0%{fill: transparent}
    50%{fill: rgba(255, 255, 255, 0.6)}
    100%{fill: transparent}
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}