.navbar-liv{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .navbar-brand{
            margin: 0;
            .logo{
                width: 150px;
            }
        }
        .navbar-collapse{
            width: 100%;
            padding-top: 15px;
            .navbar-nav{
                text-align: center;
                .nav-item{
                    .nav-link{
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1rem;
                        color: $red-liv;
                        border-radius: 25px;
                        padding: 10px 15px;
                        transition: all 600ms;
                    }
                    .active{
                        background-color: $red-liv;
                        color: #fff !important;
                        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navbar-liv{
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0;
        z-index: 1040;
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .navbar-collapse{
                padding-top: 0;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}