#section-only-video,
#section-video{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "video"
                        "infos"
                        "description"
                        "tabs";
    #video-sala{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;

        width: 100%;
        height: 30vh;
        grid-area: video;
        iframe{
            position: absolute;
            height: 100%;
            border: 0px none;
            width: 100%;
        }
    }
    #video-infos{
        padding: 15px;
        grid-area: infos;
        .tarja{
            display: flex;
            align-items: center;
            span{
                color: #ff4441;
                font-weight: bold;
                margin-left: 4px;
            }
            .dot{
                width: 10px;
                height: 10px;
                color: #ff4441;
            }
        }
    }
    #video-description{
        padding: 0 15px;
        grid-area: description;
    }
    #video-tabs{
        grid-area: tabs;
    }
}

.nav-tabs-sala{
    .nav-item{
        .nav-link{
            background-color: rgb(74 95 155) !important;
            border-radius: 50%;
            border: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
        .active{
            background-color: rgba(74,95,155, 0.6) !important;
            color: #fff !important;
        }
    }
}
.tab-content-sala{
    .tab-pane{
        iframe{
            min-height: calc(100vh - 155px); 
            border: 0;
        }
    }
}

.tarja-sala{
    display: flex;
    align-items: center;
    span{
        color: #ff4441;
        font-weight: bold;
        margin-left: 4px;
    }
    .dot{
        width: 10px;
        height: 10px;
        color: #ff4441;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #section-video{
        #video-sala{
            position: relative;
            width: 100%;
            height: 80vh;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #section-only-video{
        #video-sala{
            position: relative;
            height: 55vh;
            
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #section-only-video{
        #video-sala{
            position: relative;
            height: 85vh;
            
        }
    }
    #section-video{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "video tabs"
                            "infos tabs"
                            "description tabs";
        grid-gap: 15px;
        padding: 15px;
        #video-sala{
            position: relative;
            width: 100%;
            height: 72vh;
        }
        #video-infos{
            padding: 0;
        }
        #video-description{
            padding: 0;
        }
        #video-tabs{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 70vh;
            #myTabContent{
                position: relative;
                width: 100%;
                height: 100%;
                .tab-pane{
                    position: relative;
                    height: 100%;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }