// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'GT Pressura';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red-liv: #ca1047;
$yellow-liv: #fdc316;
$orange-liv: #ee7408;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
