.card-person{
    border-radius: 10px !important;
    width: 100%;
    height: 230px;
    .card-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% center;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        .filtro{
            background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 80%);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column-reverse;
            .infos{
                bottom: 15px;
                display: flex;
                flex-direction: column;
                span{
                    color: #fff;
                    font-size: 1.3rem;
                    font-weight: bold;
                    line-height: 1.17;
                }
                small{
                    color: rgba(255, 255, 255, 0.9);
                    letter-spacing: 0.38px;
                }
            }
            .badges{
                display: flex;
                position: absolute;
                left: 0;
                margin: 15px;
                top: 0;
                .badge{
                    margin-right: 5px;
                }
            }
        }
    }
    .btns-action{
        position: absolute;
        margin: 10px;
        right: 0;
    }
    .card-reveal{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        padding: 15px;
        border-radius: 15px;

        overflow-y: auto;
        top: 100%;
        z-index: 3;

        display: none; 
        transform: translateY(0%);

        transition: all 1s;
        p{
            font-weight: bold;
            &:last-of-type{
                margin: 0;
            }
        }
    }
    &:hover{
        .card-reveal{
            display: block; 
            transform: translateY(-100%);
        }
    }
}
.card-palestrante-mini{
    border-radius: 15px !important;
    height: 220px !important;
}

.card-evento{
    border: 0 !important;
    .card-body{
        h5{
            font-weight: 700;
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
}

.card-sala{
    border: 0 !important;
    .card-img-inline{
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: cover;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        height: 200px;
        .badges{
            display: flex;
            position: absolute;
            left: 0;
            margin: 10px;
            .badge{
                margin-right: 5px;
            }
        }
    }
    .card-img-top{
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    .card-body{
        padding: 15px;
        .card-title{
            font-weight: bold;
            font-size: 1rem;
        }
        .tarja{
            display: flex;
            align-items: center;
            span{
                color: #ff4441;
                font-weight: bold;
                margin-left: 4px;
            }
            .dot{
                width: 10px;
                height: 10px;
                color: #ff4441;
            }
        }
        p{
            &:last-of-type{
                margin: 0;
            }
        }
    }
}