#description {
    background-color: #ca1047;
    padding: 1rem 0;

    #text {

        h2,
        h6 {
            font-weight: 800;
            color: #fff;
        }

        p {
            color: #fff;
            line-height: 1.2rem;
            font-size: 1rem;
            font-weight: 100;
        }
    }

    .btns-acesso-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;

        .btn-plataforma-3d {
            width: 100% !important;
            font-size: 1.5rem;
            font-weight: normal;
            background-color: #fdbd28;
            color: #ca1047;
            border-radius: 25px;
            position: relative;
            width: auto;
            z-index: 1;
            text-transform: uppercase;
            padding: 1rem;

            &:hover {
                background-color: rgba(#fdbd28, 0.9);
            }
        }

        .btn-faq {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 90% !important;
            background-color: #17a8b4;
            color: white;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            position: relative;
            width: auto;
            z-index: 1;
            text-transform: uppercase;
            padding: 1rem;

            .icon {
                width: 45px;
            }

            p {
                font-size: 1.2rem;
                line-height: 20px;
            }

            &:hover {
                background-color: rgba(#17a8b4, 0.9);
            }
        }
    }

    .btn-inscrevase {
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: $red-liv;
        color: $yellow-liv;
        border-radius: 0;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1040;
        bottom: 0;

        &:hover {
            background-color: rgba($red-liv, 0.9);
        }
    }
}

#description-logado {
    .bg-blue {
        background-color: #17a8b4;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;

        .text {

            h2,
            h6 {
                font-weight: 800;
                color: #fff;
                margin-left: auto;
            }

            p {
                color: #fff;
                line-height: 1.3;
                font-size: 1.4rem;
                font-weight: 100;
            }
        }
    }

    .bg-yellow {
        background-color: #fdbd28;
        width: 100%;

        .bloco-acesse-plataforma {
            padding: 1rem 0;

            .text {
                p {
                    color: #ca1047;
                    line-height: 1.3;
                    font-size: 1.4rem;
                    font-weight: 100;

                    strong {
                        font-weight: 800;
                    }
                }
            }

            .btn-plataforma-3d {
                font-size: 1.3rem;
                font-weight: normal;
                background-color: #ca1047;
                color: #fdbd28;
                border-radius: 25px;
                position: relative;
                width: auto;
                z-index: 1;
                text-transform: uppercase;
                padding: 0.50rem 1.50rem;
                margin-bottom: 20px;

                &:hover {
                    background-color: rgba(#ca1047, 0.9);
                }
            }
        }
    }
}

#banner-home-lobby {
    position: relative;

    img {
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    .bloco-banner {
        position: absolute;
        bottom: -45px;

        .banner-texto-escola {
            background-color: $yellow-liv;
            border-radius: 25px;

            p {
                font-size: 14px;
                letter-spacing: 1.2px;
                line-height: 1.3;
                color: $red-liv;
            }
        }

        .banner-texto-escola-logado {
            background-color: $red-liv;
            border-radius: 25px;

            p {
                font-size: 14px;
                letter-spacing: 1.2px;
                line-height: 1.3;
                color: $yellow-liv;
            }
        }
    }
}

.meet {
    padding: 5rem 0;

    h2 {
        color: #fff;
        font-weight: 800;
    }

    p {
        color: #fff;
        letter-spacing: normal;
        line-height: 1.2rem;
        font-size: 1rem;
        font-weight: 300;

        a {
            color: #fff;
            text-decoration: underline;
            font-weight: 700;
        }
    }

    .bloco-video-iframe {
        position: relative;
        height: 315px;

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 30px;
        }

        .bloco-video-iframe-tracos {
            background-image: url('../../public/images/img-conheca.png');
            background-size: contain;
            position: relative;
            width: 315px;
            height: 170px;
            top: 169px;
            overflow: hidden;
            right: 7px;
            margin-left: auto;
        }
    }
}

.meet-bg-blue {
    background-color: #17a8b4;
}

.meet-bg-yellow {
    background-color: $yellow-liv;

    h2,
    p {
        color: $red-liv;

        a {
            color: $red-liv;
        }
    }
}

.contact {
    h2 {
        color: #fff;
        font-weight: 800;
    }

    .btn-contato {
        background-color: #fff;
        border-radius: 25px;
        font-size: 1rem;
        color: $red-liv;
        font-weight: bold;
        padding: 5px 25px;
    }
}

.contact-bg-blue {
    background-color: #17a8b4;
}

.contact-bg-yellow {
    background-color: $yellow-liv;

    h2 {
        color: $red-liv;
    }
}

footer {
    padding: 2rem;
}

.footer-yellow {
    background-color: $yellow-liv;
}

.footer-blue {
    background-color: #17a8b4;
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #description {
        padding: 4rem;

        .btns-acesso-evento {
            width: 80%;
            margin: auto;
        }

        #text {
            p {
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }

        .btn-inscrevase {
            width: 60% !important;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: $yellow-liv;
            color: $red-liv;
            border-radius: 25px;
            position: relative;
            width: auto;
            z-index: 1;

            &:hover {
                background-color: rgba($red-liv, 0.9);
            }
        }
    }

    #description-logado {

        .bg-blue,
        .bg-yellow {
            padding: 5rem 4rem 4rem;
            width: 50%;
        }

        .bloco-acesse-plataforma {
            padding: 5rem 4rem 4rem;
        }
    }

    .meet {
        padding: 11rem 0 0rem;

        p {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }

    .contact {
        .btn-contato {
            font-size: 1.4rem;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #banner-home-lobby {
        position: relative;

        .bloco-banner {
            position: absolute;
            bottom: -70px;

            .banner-texto-escola,
            .banner-texto-escola-logado {
                p {
                    font-size: 24px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #banner-home-lobby {
        .bloco-banner {

            .banner-texto-escola,
            .banner-texto-escola-logado {
                p {
                    font-size: 30px;
                }
            }
        }
    }
}