#container-auth {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form";
    width: 100%;
    height: 100vh;

    #auth-form {
        grid-area: form;
        background-color: #ca1047;

        .form-congresso-liv,
        #card-auth {
            width: 100%;
            margin: 0 auto;
            border: 0;
            background-color: transparent;

            .card-header {
                background-color: transparent;
                border: 0;

                h4 {
                    font-weight: bold;
                    margin: 0;
                    color: #fdc316;
                }

                span {
                    color: #fdc316;
                }
            }

            .card-body {
                padding: 0.8rem;

                .icon {
                    font-size: 2rem;
                }

                label {
                    font-size: 0.95rem;
                    font-weight: bold;
                    color: #fdc316;
                }

                .invalid-feedback {
                    padding: 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #dc3545 !important;
                    text-align: center;
                }

                .btn-login {
                    background-color: #00BAAC;
                    color: #fff;
                }

                .btn-link {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: #fff;
                    text-decoration: underline;
                }

                input {
                    background-color: #f0f0f0;
                }

                ::placeholder {
                    font-size: 0.7rem;
                }

                :-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-size: 0.7rem;
                }

                ::-moz-placeholder {
                    /* Firefox 19+ */
                    font-size: 0.7rem;
                }

                :-ms-input-placeholder {
                    /* IE 10+ */
                    font-size: 0.7rem;
                }

                :-moz-placeholder {
                    /* Firefox 18- */
                    font-size: 0.7rem;
                }

                .invalid-feedback {
                    color: #fff;
                }
            }

            .card-footer {
                label {
                    color: #fdc316;
                }

                .btn-login {
                    background-color: #00BAAC;
                    color: #fff;
                }

                .btn-link {
                    color: #fff;
                }

                span {
                    color: #fff;
                }

                .text-error {
                    padding: 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #dc3545 !important;
                    text-align: center;
                }

                .invalid-feedback {
                    padding: 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #dc3545 !important;
                    text-align: center;
                }
            }
        }
    }

    #auth-illustration {
        grid-area: illustration;
        background: '#bdbdbd';
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: cover;
    }
}

.login-auth {
    display: flex !important;
    flex-direction: column !important;

    #auth-form {
        justify-content: flex-start !important;
        background-color: #fff !important;
        height: 100%;
        order: 2;

        .form-congresso-liv,
        #card-auth {
            .card-header {
                h4 {
                    color: #000 !important;
                }

                span {
                    color: #000 !important;
                }
            }

            .card-body {
                label {
                    color: #000 !important;
                }

                .btn-link {
                    color: #000 !important;
                }

                .invalid-feedback {
                    color: #000 !important;
                }
            }

            .card-footer {
                label {
                    color: #000 !important;
                }

                .btn-login {
                    background-color: #00BAAC;
                    color: #000 !important;
                }

                .btn-link {
                    color: #000 !important;
                }

                span {
                    color: #000 !important;
                }
            }
        }
    }

    #auth-illustration {
        width: 100%;
        height: calc(100vh - 398px);
        order: 1;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #container-auth {
        height: calc(100vh - 69px);

        #auth-form {
            background-color: #fff;
            overflow-y: auto;
        }

        .form-congresso-liv,
        #card-auth {
            width: 90% !important;

            .card-header {
                h4 {
                    color: #000 !important;
                }

                span {
                    color: #000 !important;
                }
            }

            .card-body {
                label {
                    color: #000 !important;
                }

                .invalid-feedback {
                    color: #dc3545 !important;
                    text-align: left !important;
                    box-shadow: none !important;
                    padding: 0 !important;
                }

                .btn-link {
                    color: #000 !important;
                }

                .form-control {
                    font-size: 1rem !important;
                }

                ::placeholder {
                    font-size: 1rem !important;
                }

                :-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-size: 1rem !important;
                }

                ::-moz-placeholder {
                    /* Firefox 19+ */
                    font-size: 1rem !important;
                }

                :-ms-input-placeholder {
                    /* IE 10+ */
                    font-size: 1rem !important;
                }

                :-moz-placeholder {
                    /* Firefox 18- */
                    font-size: 1rem !important;
                }
            }

            .card-footer {
                label {
                    color: #000 !important;
                }

                .btn-link {
                    color: #000 !important;
                }

                span {
                    color: #dc3545 !important;
                }

                .invalid-feedback {
                    color: #dc3545 !important;
                }
            }
        }
    }

    #container-auth {
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 1fr !important;
        grid-template-areas: "form illustration" !important;
    }

    .login-auth {
        display: grid !important;
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 1fr !important;
        grid-template-areas: "form illustration" !important;

        #auth-form {
            justify-content: center !important;
            background-color: #fff !important;
            order: 1;

            .form-congresso-liv,
            #card-auth {
                .card-header {
                    h4 {
                        color: #000 !important;
                    }

                    span {
                        color: #000 !important;
                    }
                }

                .card-body {
                    label {
                        color: #000 !important;
                    }

                    .btn-link {
                        color: #000 !important;
                    }

                    .invalid-feedback {
                        color: #000 !important;
                    }
                }

                .card-footer {
                    label {
                        color: #000 !important;
                    }

                    .btn-login {
                        background-color: #00BAAC;
                        color: #000 !important;
                    }

                    .btn-link {
                        color: #000 !important;
                    }

                    span {
                        color: #000 !important;
                    }
                }
            }
        }

        #auth-illustration {
            width: initial;
            height: 100vh;
            order: 2;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}