main{
    padding-bottom: 64px;
    background-color: #17a8b4;
}
.btn-back{
    text-decoration: none !important;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover{
        color: rgba(0, 0, 0, 0.6) !important;
    }
}
.btn-social{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $red-liv !important;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    i{
        color: #fff;
        font-size: 1.2rem;
    }
    &:hover{
        background-color: rgba($red-liv, 0.9) !important;
    }
}
.btn-inscrevase-v2{
    padding: 1rem !important;
    font-size: 1.2rem !important;
    font-weight: bold;
    background-color: #ee7408 !important;
    color: #fff !important;
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1040;
    bottom: 0;
    &:hover{
        background-color: rgba(#ee7408, 0.9);
        color: #fff;
    }
}

.dropdown-filtro{
    .dropdown-menu{
        padding: 0;
        .dropdown-item{
            text-decoration: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.section{
    .section-header{
        a{
            color: #000;
            text-decoration: underline;
        }
    }
    .section-body{
        .tarja{
            display: flex;
            align-items: center;
            span{
                color: #ff4441;
                font-weight: bold;
                margin-left: 4px;
            }
            .dot{
                width: 10px;
                height: 10px;
                color: #ff4441;
            }
        }
    }
}

#section-video{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "video"
                        "infos"
                        "description"
                        "tabs";
    #video-sala{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;

        width: 100%;
        height: 30vh;
        grid-area: video;
        iframe{
            position: absolute;
            height: 100%;
            border: 0px none;
            width: 100%;
        }
    }
    #video-infos{
        padding: 15px;
        grid-area: infos;
        .tarja{
            display: flex;
            align-items: center;
            span{
                color: #ff4441;
                font-weight: bold;
                margin-left: 4px;
            }
            .dot{
                width: 10px;
                height: 10px;
                color: #ff4441;
            }
        }
    }
    #video-description{
        padding: 0 15px;
        grid-area: description;
    }
    #video-tabs{
        grid-area: tabs;
    }
}

.nav-tabs-sala{
    .nav-item{
        .nav-link{
            background-color: rgb(74 95 155) !important;
            border-radius: 50%;
            border: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
        .active{
            background-color: rgba(74,95,155, 0.6) !important;
            color: #fff !important;
        }
    }
}

.tab-content-sala{
    .tab-pane{
        iframe{
            min-height: calc(100vh - 155px); 
            border: 0;
        }
    }
}

.tarja-sala{
    display: flex;
    align-items: center;
    span{
        color: #ff4441;
        font-weight: bold;
        margin-left: 4px;
    }
    .dot{
        width: 10px;
        height: 10px;
        color: #ff4441;
    }
}

.navbar-menu{
    padding: 0 !important;
}

.alerts-liv{
    position: fixed;
    bottom: 15px;
    width: 100%;
    left: 0;
    z-index: 1040;
    .alert{
        width: 80%;
        margin: 0 auto;
    }
}

.background-popup{
    background-color: #0000009e;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #section-video{
        #video-sala{
            position: relative;
            width: 100%;
            height: 80vh;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .btn-inscrevase-v2{
        width: 45% !important;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #ee7408;
        color: #fff;
        border-radius: 25px;
        position: relative;
        width: auto;
        z-index: 1;
        &:hover{
            background-color: rgba(#ee7408, 0.9);
            color: #fff;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    main{
        padding-bottom: 0;
    }
    #section-video{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "video tabs"
                            "infos tabs"
                            "description tabs";
        grid-gap: 15px;
        padding: 15px;
        #video-sala{
            position: relative;
            width: 100%;
            height: 70vh;
        }
        #video-infos{
            padding: 0;
        }
        #video-description{
            padding: 0;
        }
        #video-tabs{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 70vh;
            #myTabContent{
                position: relative;
                width: 100%;
                height: 100%;
                .tab-pane{
                    position: relative;
                    height: 100%;
                }
            }
        }
    }
    .alerts-liv{
        .alert{
            width: 40%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }