.navbar-liv{
    .navbar-collapse{
        .navbar-nav{
            .nav-link{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .active{
                background-color: $red-liv;
                color: #fff !important;
                border-radius: 20px;
                padding: 10px 15px;
                margin: 5px;
            }
        }
    }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}