@font-face {
    font-family: 'GT Pressura';
    src: url(./fonts/gt-pressura-light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'GT Pressura';
    src: url(./fonts/gt-pressura-regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'GT Pressura';
    src: url(./fonts/gt-pressura-bold.ttf);
    font-weight: 800;
}

// Variables
@import 'variables';
@import 'global';
@import 'header';
@import 'auth';

@import 'site/cards';
@import 'site/landingpage';

@import '3d/global';
@import '3d/palestraSala';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
